@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/**font-family: 'Open Sans', sans-serif;***/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/**font-family: 'Roboto', sans-serif;;***/
h1, h2, h3, h4, h5, h5 {font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

header {
  padding: 24px 0;
  margin: 0;
  position: relative;
  width: 100%;
  height: auto;
  background: #fff;
  z-index: 9999999999999;
}
p {
    font-size: 19px;
    font-weight: 300;
    color: #fff;
    line-height: 27px;
}
body {font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}
.bg-light {
  background-color: #fff !important;
}
.blue-bg {
  background: #00b7e8;
  color: #fff;
}
.blue-bg p {
  color: #fff;
}
.white-btn {
  color: #fff;
  border: solid 1px #fff;
}
.blue .fa-angle-right:before {
  margin: 63px 0 0 0;
  line-height: 10px;
  float: left;
  font-size: 22px;
}
a:hover {
  text-decoration: none;
}
*:after, *:before, p a, a {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
/*******300621v1tav*********/
.iconobx {
  clear: both;
  display: block;
  width: 100%;
  text-align: right;
  margin: 11px 0 0 0;
}
.iconobx img {
  width: 35px;
}
/**go to top here**/
.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
  animation: MenuSlideDown .3s linear;
  -moz-animation: MenuSlideDown .3s linear;
  -ms-animation: MenuSlideDown .3s linear;
  -o-animation: MenuSlideDown .3s linear;
  -webkit-animation: MenuSlideDown .3s linear;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
  background: #fff;
  border-radius: 0;
  margin: 0;
  padding: 2px 0;
  z-index: 99999;
}
.sticky {
  padding: 0;
}
.sticky .logo-name h2 {
  font-size: 15px;
  margin: 0px 0 1px 0;
  padding: 0;
}
.sticky .logo-main {
  max-width: 93px;
}
.sticky .logo-2 {
  width: 30px;
}
.sticky .logo-name .appro {
  margin: 0;
}
.sticky .logo-name .tag-line {
  font-size: 16px;
  margin-top: 0;
}
.trent-ment-btn:hover {
  color: #000;
}
.sticky .search-bar {
  display: block;
}
@-webkit-keyframes MenuSlideDown {
  0% {
    top: -48px;
  }
  100% {
    top: 0px;
  }
}
@keyframes MenuSlideDown {
  0% {
    top: -48px;
  }
  100% {
    top: 0px;
  }
}
/** #back-top {
	position: fixed;
	bottom: 7px;
	right: 15px;
	z-index: 99;
	cursor: pointer;
	display: block;
	text-align: center;
	font-size: 11px;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}

#back-top a img {
	margin: 0 auto;
}

#back-top a:hover {
	color: #000;
}

#back-top a i {
	background: #ff2c2b;
	color: #fff;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	font-size: 29px;
	padding-top: 2px;
	border: solid 2px #fff;
	box-shadow: 0px 0px 5px #777;

} **/
#back-top {
  height: auto;
  width: auto;
  padding: 9px;
  position: fixed;
  bottom: 7px;
  right: 15px;
  z-index: 999;
  cursor: pointer;
  display: block;
  text-align: center;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
  font-size: 15px;
  text-transform: uppercase;
}
#back-top img {
  width: 25px;
  display: block;
  margin: 0 auto;
}
#back-top a {
  font-size: 27px;
  color: #fff;
  text-decoration: none;
  background: #000;
  /*background: -moz-linear-gradient(left, #f37c12 0%, #eb4645 100%);
  background: -webkit-linear-gradient(left, #f37c12 0%, #eb4645 100%);
  background: linear-gradient(to right, #f37c12 0%, #eb4645 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f37c12', endColorstr='#eb4645', GradientType=1);*/
  display: block;
  padding: 5px;
  border-radius: 50%;
  border: solid 2px #fff;
  height: 50px;
  width: 50px;
  outline: none;
  line-height: 37px;
}
/**go to top here end**/
/*******landingpage code************/
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
}


/****top slider****/
.slibixa {background: url("../images/slider-bg.webp") no-repeat top center/ cover;}
/****Nav****/
.navbar.navbar-expand-sm {    background: #070707; margin: 0; padding: 0;}
.navbar-collapse {
  /*  display: flex!important;*/
    flex-basis: auto;
    border-top: solid 2px #fff;
    border-bottom: solid 2px #fff;
	margin: 30px 0;
}
.navbar-expand-sm .navbar-nav .nav-link {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin: 0 39px;
	text-transform: uppercase;
}

.navbar-expand-sm .navbar-nav .nav-item:first-child .nav-link {margin-left: 0; padding-left: 0;}
.navbar-expand-sm .navbar-nav .nav-item:last-child .nav-link {margin-right: 0; padding-right: 0;}

.sticky .navbar-collapse { margin: 0; border: none;}
.sticky .navbar-expand-sm .navbar-nav .nav-link {color: #000;}

.topbox {
    display: block;
    clear: both;
}

.leboxa {
    width: 35%;
    display: inline-block;
    vertical-align: top;
    margin: 28px 0 0 0;
}

.headboxa {
    color: #ffcc07;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 45px;
    line-height: 48px;
    margin: 13px 0 24px 0;
}

.leboxa p {
    font-size: 26px;
    line-height: 37px;
    margin: 0 0 50px 0;
}

.techlogo {
    width: 379px;
}

.riglbx {
    display: inline-block;
    width: 62%;
    margin: 0 0 0 2%;
}

.foxa {
    display: block;
	text-align: center;
}

.ibxa {
    background: #fff;
    border-radius: 28px 0;
    overflow: hidden;
    width: 22%;
    margin: 1%;
    display: inline-block;
    vertical-align: top;
}

.ibxa img {
    width: 140px;
    display: block;
    margin: 0 auto;
}

.ibxa span {
    display: block;
    background: #81172e;
    text-align: center;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    padding: 12px 5px 0;
    font-weight: 900;
    letter-spacing: 0.5px;
    min-height: 42px;
    line-height: 17px;
    font-size: 13px;
}

.ibxa.nopad span {padding-top: 5px;}


.ctabx {
    display: block;
    text-align: center;
    margin: 40px 0;
}

.tbr {
    display: inline-block;
    width: fit-content;
    background: #fff;
    font-weight: 900;
    font-size: 26px;
    text-transform: uppercase;
    color: #000;
    padding: 3px 15px;
    margin: 0 5px 0 0;
}

.ibxa {
    background: #fff;
    border-radius: 28px 0;
    overflow: hidden;
    width: 17.5%;
    margin: 1%;
    display: inline-block;
    vertical-align: top;
}


.btnale {
    display: inline-block;
    width: fit-content;
    background: #ffcc08;
    font-weight: 900;
    font-size: 26px;
    text-transform: uppercase;
    color: #000;
    padding: 3px 15px;
    text-decoration: none;
}

/***niitba niitbredsrt**/
.niitbredsrt {
    background: rgb(26,99,176);
    background: linear-gradient(90deg, rgba(26,99,176,1) 0%, rgba(127,24,48,1) 100%);
    padding: 10px 0;
}

.lboxadef {
    width: fit-content;
    display: inline-block;
    vertical-align: top;
    margin: 0 50px 0 0;
}
.lboxadef:last-child {margin-right: 0; float: right;}
.lboxadef span {
    color: #fff;
    font-size: 28px;
    font-weight: 800;
    display: inline-block;
    vertical-align: middle;
}


.lobox {
    display: inline-block;
    vertical-align: middle;
    background: #fff;
    padding: 5px;
    margin: 0 0 0 15px;
}


.lobox img {
    object-fit: cover;
    height: 45px;
}



.lobox i {
    display: inline-block;
    background: #ccc;
    height: 50px;
    width: 1px;
    margin: 0 14px;
    vertical-align: middle;
}


/***GROWTH SUMMIT****/


.niitbaone {
    position: relative;
}


.bgimgd {
    width: 100%;
}

.niitbaone .container{
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
}
.allhead {
    color: #1a63b0;
    font-weight: 800;
    font-size: 30px;
    margin: 0 0 22px 0;
	text-transform: uppercase;
}

.tediew {
    width: 50%;
}

.allhead span {display: block; height: 2px; width: 40px; background: #1a63b0;}
.niitbaone p {
    color: #000;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    width: 76%;
}


/*****WHY SHOULD FOUNDERS ATTEND?*****/
.niitbatwo {
    padding: 56px 0;
	background: url("../images/bg-graphics.webp") repeat left top;
}

.allhead.text-center span {
    display: block;
    margin: 0 auto;
}

.rdbx{
    margin: 0 13px;
    border-radius: 10px;
    overflow: hidden;
	background: url("../images/bg-graphics.webp") repeat center center #80172e;
}

.rdbx span {
    padding: 23px 15px 0;
    display: block;
    text-align: center;
    color: #fff;
    font-size: 19px;
    font-weight: 300;
    line-height: 25px;
    min-height: 134px;
}

.niitba.niitbatwo .allhead.text-center {
    margin-bottom: 42px;
}

.ridbox {
    display: block;
    width: fit-content;
    background: #ffcc08;
    font-weight: 900;
    font-size: 26px;
    text-transform: uppercase;
    color: #000;
    padding: 3px 30px;
    text-decoration: none;
    margin: 45px auto 0;
    border-radius: 31px;
}


/***3RD EDTECH VIRTUAL SUMMIT SESSIONS****/
.niitbathree {
    padding: 50px 0;
	background: #e5e5e5;
}

.teobdahead {
    background: #81172e;
    color: #fff;
    margin-top: 45px;
}
.teobdahead ul {
    margin: 0;
    list-style: none;
    padding: 6px;
    text-transform: uppercase;
    font-size: 20px;
}

.teobdahead ul li {
    display: inline-block;
    width: 25%;
    vertical-align: middle;
    font-weight: 400;
}

.teobdahead ul li:nth-child(2) {
    width: 57%;
}
.teobdahead ul li:last-child {
width: 17%;
}

.tobax {
    display: block;
    margin: 14px 0 0 0;
}

.tblcl {
    display: block;
	margin-bottom: 10px;
}
.tblcl ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: table;
    position: relative;
    width: 100%;
}

.tblcl ul li {
    background: #ffcc07;
    width: 24%;
    padding: 22px;
    min-height: 150px;
    text-align: left;
    display: table-cell;
    vertical-align: middle;
}

.tblcl ul li span {
    display: none;
}
.tblcl ul li p {
    color: #000;
    font-weight: 500;
    margin: 0;
    line-height: 24px;
}
.tblcl ul li:first-child p strong {display: block; }
.tblcl ul li:first-child  {position: relative;}

.tblcl ul li:nth-child(2){background: #fff;
    width: 57%;}
.tblcl ul li:last-child  {
    width: 24%;
}

.tblcl ul li:first-child:after {
    content: "";
    background: url(../images/yl-aroow.webp) no-repeat left top/ cover;
    position: absolute;
    top: 36%;
    height: 35px;
    width: 13px;
    right: -13px;
    z-index: 222;
}

.tblcl ul:hover li { background: #1a63b0; cursor: pointer;}

.tblcl ul:hover li p {color: #fff}

.tblcl ul:hover li:nth-child(2), .tblcl ul:hover li:nth-child(2) p {background: #fff; color: #000;}

.tblcl ul:hover  li:first-child:after {content: "";
    background: url(../images/blue-arrow.webp) no-repeat left top/ cover;}


/***MEET THE SPEAKERS EDTECH GROWTH SUMMIT****/

.niitbafour .allhead, .niitbasix .allhead, footer .allhead {
    color: #ffcc07;
    line-height: 34px;
}

.niitbafour .allhead em {
    display: block;
    color: #fff;
    font-style: normal;
    font-weight: 300;
}
.niitbafour .allhead span, .niitbasix .allhead span{
    background: #ffcc07;
    margin: 5px auto 51px;
}

.niitbafour {
    background: url("../images/bg-graphics-2.webp") repeat left top #2a2a2a;
    padding: 50px 0;
}


.niitbafour .owl-carousel .owl-item img {
    border: solid 4px #fff;
    margin: 0 36px;
    width: 80%;
	display: block;
}

.spebx span {
    display: block;
    text-align: center;
    color: #ffcc07;
    font-weight: 900;
    font-size: 26px;
    margin: 21px 0 0 0;
}
.spebx span em {
    display: block;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    margin: 7px 0 0 0;
}

/*****niitba niitbafive****/
.niitbafive {  background: url("../images/bg-graphics.webp") repeat left top #fff; padding: 50px 0 15px;}

.niitbafive .nav.nav-tabs .nav-item {
    width: 32%;
    text-align: center;
    margin: 0 2px;
}

.niitbafive .nav.nav-tabs .nav-item .nav-link {
    background: #2a2a2a;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    color: #e5e5e5;
    padding: 15px 0;
    border: 10px 10px 0;
}

.niitbafive .nav.nav-tabs .nav-item .nav-link.active {
    background: #ffcc07;
    color: #81172e;
}

.vodebx {
    padding: 39px 0 0;
    text-align: center;
}

.vodebx img {    width: 60%;}

#editoinsl {padding: 50px 0;}

#editoinsl .owl-item.center .item img {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}

#editoinsl .owl-item .item img {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}
.owl-carousel .owl-nav button:hover {background: none !important;}
.owl-carousel .owl-nav button img {width: 100%;}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    left: -60px;
    width: 60px;
	top: 45%;
}
.owl-carousel .owl-nav button.owl-next{
	 position: absolute;
	    right: -60px;
	left: auto;
}

.owl-carousel#speakers .owl-nav button.owl-next, .owl-carousel#speakers  .owl-nav button.owl-prev {
    top: 32%;
}
.plbto {
    position: relative;
}

.vodebx img.plbtn {
    position: absolute;
    width: 80px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 43%;
}

/********niitba niitbasix*******/
.niitbasix {background:url("../images/bg-graphics-2.webp") repeat left top #81172e; padding: 50px 0 0;}

.imba {
    width: 100%;
}


.aboxa {
    width: 48%;
    display: inline-block;
    margin: 0 47px 0 0;
	vertical-align: top;
}

.aboxa:last-child {margin-right: 0;}

.ablef {
    font-weight: 800;
    color: #fff;
    font-size: 32px;
    text-transform: uppercase;
    line-height: 33px;
    margin: 0 0 25px 0;
}

.pbc {
    position: relative;
    padding: 0 0 0 23px;
	text-align: justify;
}

.pbc::before {content: ""; position: absolute; left: 0; height: 10px; width: 10px; background: #ffcc07; border-radius: 50px; top: 7px;}

.imba {
    margin: -126px 0 0 0;
}


/*****footer*****/
footer {
    background: #202020;
    padding: 30px 0;
    text-align: center;
    color: #fff;
	font-size: 24px;}


.bgoda {
    font-size: 26px;
    font-weight: 300;
    line-height: 35px;
}

.bgoda a {
    text-decoration: none;
}

.bgoda a span {
    color: #fff;
    text-decoration: none;
    margin: 0 0 0 3px;
}


/*******Countdown Timer*******/

.time {
  color: #fff;
  font-size: 6em;
}
.label {
  font-size: 2em;
  display: block;
  color: #aaa;
}

.coudown-contin {
    background: #070707;
}

.timerb {
    display: inline-block;
    width: fit-content;
    font-size: 8px;
    text-align: center;
	    color: #ffcc07;
}
.time {
   color: #ffcc07;
    font-size: 6em;
}

.label {
    font-size: 2em;
    display: block;
    color: #fff;
}
.eventdate {
    text-align: center;
    padding: 17px 0 0 0;
    margin: 0;
    font-size: 31px;
    font-weight: 600;
}


/*****top slider bx**********/


#sliderb.owl-carousel {
    width: 100%;
}


#sliderb.owl-carousel .owl-item img.destobner {
    width: 100%;
    object-fit: cover;
}

#sliderb.owl-carousel .owl-item img.bmolebner {
    display: none;
}
#sliderb.owl-carousel .owl-item  .blackbg {background:#070707;}
#sliderb.owl-carousel .owl-item  .greenbg, #sliderb .owl-stage-outer{background:#071213}


/*********FOUNDERS GROWTH CAMP**********/

.niiteox {
    background: #dddddd;
    color: #000;
    padding: 66px 0;
}


.lefovda {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    margin: 0 6% 0 0;
}

.lefovda p{
    color: #000;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    width: 100%;
}

.rigode {
    display: inline-block;
    vertical-align: top;
}
#summit {width: 100%;     background: #dddddd;}
.owl-carousel .owl-item #growthsummit img.bgimgd { object-fit: cover; height: 912px;} 


/**********top slider***********/

.arrowbie {position: relative;}

.arrowbie .owl-carousel .owl-nav button.owl-next, .arrowbie .owl-carousel .owl-nav button.owl-prev { left: 0; right: 0; z-index: 222;}

.arrowbie .owl-carousel .owl-nav button.owl-next { right: 0; left: auto;}


.arrowbie .owl-dots {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.arrowbie .owl-theme .owl-dots .owl-dot.active span, .arrowbie .owl-theme .owl-dots .owl-dot:hover span {
    background:#ffcc08;
}

.arrowbie #summit.owl-theme .owl-dots .owl-dot.active span, .arrowbie #summit.owl-theme .owl-dots .owl-dot:hover span {
    background:#81172e;
}

.arrowbie #summit.owl-theme .owl-dots .owl-dot span {    background:#000;}

